:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: white;
    --foreground: black;
  }
}

@font-face {
  font-family: 'ALTGumbo-semi';
  src: url('/font/ALTGumbo-Semibold.woff2') format('woff2'),
       url('/font/ALTGumbo-Semibold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UfficioMono-400';
  src: url('/font/UfficioMono-400.woff2') format('woff2'),
       url('/font/UfficioMono-400.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

textarea:focus, input:focus, button:focus{
    outline: none;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background:transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:transparent; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:transparent; 
}

html,
body {
  font-family: 'UfficioMono-400';
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'UfficioMono-400' !important;

 
  
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'UfficioMono-400';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div{
  font-size: 11px;
}

.servicesText{
  white-space: pre-line;
  line-height: 2;
}

.servicesText::first-line {
   white-space: pre-line;
  line-height: 0;  /* solo la prima riga */
}
.contactTitle{
  margin-bottom: 40px;
}

.contactTitle2{
  margin-bottom: 38px;
}

.nameDirector{
  font-size: clamp(3rem, 6vw, 5rem);
  font-family:'ALTGumbo-semi' ;
  color: white;
  -webkit-text-stroke: 1px black;
  line-height: 3.5rem;
}

.nameDirector:hover{
  color: black;
}
.logoHomePage{
  width: 40vw;
    position: absolute;
    margin-top: 50vH;
    margin-left: 50vW;
    transform: translate(-50%, -50%);
}
.nameDirector--active {
  color: black;
}
.projectDiv{
    box-sizing: border-box;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    display: flex;
}
.projectThumbnail{
    object-fit: cover;
    height: -webkit-fill-available;
    margin-bottom: 12px;
    display: block;
}
.projectText{
  font-size: 10px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

